@{
    ViewBag.Title = "DeleteDepartment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteDepartment</title>
</head>
<body>
    <div>
        Please Check if any table data (e.g. Employee, Student,etc) is under this department
    </div>
</body>
</html>